html {
  background-color: rgb(37, 35, 35);
}
.content {
  background: rgb(18, 11, 124);
  background: radial-gradient(
    circle,
    rgba(18, 11, 124, 1) 0%,
    rgba(188, 124, 236, 1) 48%,
    rgba(18, 11, 124, 1) 100%
  );
  min-height: 100vh;
  min-width: 100vw;
  font-size: calc(10px + 2vmin);
  /* display: flex;
  align-items: center;
  justify-content: center; */
}
/* -- Header -- */
header {
  min-height: 10vh;
  max-width: 60vw;
  padding-top: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}
.header-title {
  padding-left: 50px;
  text-align: center;
  color: rgb(211, 221, 230);
}
.connect-wallet {
  height: 70px;
  width: 200px;
  margin: 25px 50px 0px 0px;
  color: rgb(18, 11, 124);
  padding: 0px;
  border-radius: 10px;
  font-size: 20px;
  color: rgb(211, 221, 230);
  background-color: rgb(157, 53, 15);
}

/* --form-- */
.form-input {
  margin: 8rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(11, 2, 2, 0.2);
  width: 30vw;
  height: 40vh;
  border-radius: 20px;
}
.form-input input {
  width: 20vw;
  height: 6vh;
  border-radius: 10px;
  background-color: rgba(51, 29, 29, 0.1);
  color: rgb(181, 194, 194);
  font-weight: bold;
}
.input-from {
}
.input-to {
}
.rate {
  width: 25vw;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  color: whitesmoke;
}
/* --footer-- */
.wallet {
  align-self: flex-end;
  text-align: center;
  color: aliceblue;
}
